<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <springProperty scope="context" name="logging.path" source="logging.path"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出（配色）：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) %red(%5level) %highlight([%10thread]) %cyan([%30.30logger{30}]) %magenta([%10method,%line]) : %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--业务日志-->
    <logger name="com.midaug.dream.lottery" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    <!-- root日志输出级别, 必须定义 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>