<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSQ-双色球</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/gh/midaug/dream-lottery/html/static/bootstrap/css/bootstrap.min.css"
        rel="stylesheet" async="async">
    <link href="https://cdn.jsdelivr.net/gh/midaug/dream-lottery/html/static/ssq/index.css" rel="stylesheet" async="async">
</head>

<body>
    <main>

        <section class="py-4 text-center container">
            <div class="row py-lg-2">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <div class="mb-3">
                        <input onchange="recognizeFile(this.files[0])" style="display: none;" class="form-control"
                            type="file" accept="image/*" id="input-img">
                        <button id="up-btn" class="upload-box1" disabled></button>
                    </div>
                    <div id="dataBody" class="ocr-ssq-item">


                    </div>
                </div>
            </div>
        </section>

        <div class="album py-1 bg-light">
            <div class="container">
                <h5 style="text-align: center">历史开奖信息</h5>
                <h5 style="text-align: center" id="data-update-time"></h5>
                <div id="ssq-el" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!-- <div th:each="ssq : ${ssqList}" class="col ssq-item">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted"><span th:text="${ssq.code}"></span> 期</h6>
                            <h6 class="card-text">
                                <span th:text="${ssq.red1}" class="red"></span>
                                <span th:text="${ssq.red2}" class="red"></span>
                                <span th:text="${ssq.red3}" class="red"></span>
                                <span th:text="${ssq.red4}" class="red"></span>
                                <span th:text="${ssq.red5}" class="red"></span>
                                <span th:text="${ssq.red6}" class="red"></span>
                                <span th:text="${ssq.blue1}" class="blue"></span>
                            </h6>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">开奖日期：<span th:text="${ssq.drawDate}"></span></small>
                            </div>
                        </div>
                    </div>
                </div> -->

                </div>
            </div>
        </div>


    </main>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/gh/midaug/dream-lottery/html/static/bootstrap/js/bootstrap.bundle.min.js"
    async="async"></script>
<script src="https://cdn.jsdelivr.net/gh/midaug/dream-lottery/html/static/ssq/jquery.min.3.1.0.js"></script>
<script src='https://cdn.jsdelivr.net/npm/tesseract.js@4/dist/tesseract.min.js' async="async"></script>
<script>
    var dataUrl = 'https://cdn.jsdelivr.net/gh/midaug/dream-lottery/spider_data/ssq.txt';
    var ssqList = [];
    var ssqMap = {};
    var lastIndex = 0;
    var dbj = 5;

    function loadSsqEl(lists, last) {
        var ssqEl = $("#ssq-el");
        for (let i = 0; i < lists.length; i++) {
            var ssqCode = lists[i];
            var ssq = ssqMap[ssqCode];
            var htmlStr = `<div class="col ssq-item">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted"><span>${ssq.code}</span> 期</h6>
                        <h6 class="card-text">
                            <span class="red">${ssq.red1}</span>
                            <span class="red">${ssq.red2}</span>
                            <span class="red">${ssq.red3}</span>
                            <span class="red">${ssq.red4}</span>
                            <span class="red">${ssq.red5}</span>
                            <span class="red">${ssq.red6}</span>
                            <span class="blue">${ssq.blue1}</span>
                        </h6>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-muted">开奖日期：<span>${ssq.drawDate}</span></small>
                        </div>
                    </div>
                </div>
            </div> `
            ssqEl.append(htmlStr);
        }
        lastIndex = last;
    }

    function formatDateTime(inputTime) {
        var date = new Date(inputTime);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        m = m < 10 ? "0" + m : m;
        var d = date.getDate();
        d = d < 10 ? "0" + d : d;
        var h = date.getHours();
        h = h < 10 ? "0" + h : h;
        var minute = date.getMinutes();
        var second = date.getSeconds();
        minute = minute < 10 ? "0" + minute : minute;
        second = second < 10 ? "0" + second : second;
        return y + "-" + m + "-" + d + " " + h + ":" + minute + ":" + second;
    }

    $(document).ready(function () {
        function scrollLoad(bj) {
            var s = lastIndex;
            var e = lastIndex + bj > ssqList.length ? ssqList.length : lastIndex + bj;
            var newArr = ssqList.slice(s, e);
            loadSsqEl(newArr, e);
        }
        function loadSsqData() {
            $.get(dataUrl, function (data) {
                var arr = data.split("\n");
                $("#data-update-time").html(formatDateTime(parseInt(arr[0].split(",")[3])));
                for (let i = 1; i < arr.length; i++) {
                    var ssqArr = arr[i].split(",");
                    if (!ssqArr[0]) {
                        continue;
                    }
                    var code = "20" + ssqArr[0];
                    obj = {
                        "code": code,
                        "red1": ssqArr[1],
                        "red2": ssqArr[2],
                        "red3": ssqArr[3],
                        "red4": ssqArr[4],
                        "red5": ssqArr[5],
                        "red6": ssqArr[6],
                        "blue1": ssqArr[7],
                        "bonus1": ssqArr[8],
                        "bonus2": ssqArr[9],
                        "drawDate": ssqArr[10]
                    };
                    ssqList.push(code);
                    ssqMap[code] = obj;
                }
                scrollLoad(30);
                $("#up-btn").removeAttr("disabled");
            });
        }
        loadSsqData();
        $(window).scroll(function () {
            if ($(document).scrollTop() + $(window).height() >= $(document).height() - 50) {
                scrollLoad(dbj);
            }
        });
    });



</script>
<script>
    var bel = $("#dataBody");
    function vNum(num, s, e) {
        if (isNaN(num)) return false;
        var n = parseInt(num);
        return n >= s && n <= e;
    }

    function updateOcrData(data) {
        var title = '<h6 class="card-subtitle mb-2 text-muted"><span>' + data.code + '</span>期 开奖日期: ' + data.drawDate + '</h6>';
        var tags = ['<div class="card shadow-sm"><div class="card-body">', title];
        for (var i in data.noteDtos) {
            tags.push('<h6 class="card-text">');
            var note = data.noteDtos[i];
            tags.push('<span>' + note['zm'] + '</span>');
            for (var num = 1; num <= 6; num++) {
                var key = 'red' + num;
                var keyf = 'red' + num + 'f';
                var cls = note[keyf] ? 'num red redf' : 'num red';
                cls = vNum(note[key], 1, 33) ? cls : 'num err';
                tags.push('<span class="' + cls + '">' + note[key] + '</span>');
            }
            var cls = note['blue1f'] ? 'num blue bluef' : 'num blue';
            cls = vNum(note['blue1'], 1, 16) ? cls : 'num err';
            tags.push('<span class="' + cls + '">' + note['blue1'] + '</span>');
            tags.push('<span>' + note['reward'] + '</span>');
            tags.push('<span>' + note['bonus'] + '</span>');
            tags.push('</h6>');
        }
        tags.push('</div></div>');
        bel.html(tags.join('\n'));
    }

    $("#up-btn").click(function () {
        $("#input-img").click();
    });

    language = "eng"
    function recognizeFile(file) {
        bel.html("<img src='https://cdn.jsdelivr.net/gh/midaug/dream-lottery/html/static/images/loading.gif' />");
        Tesseract.recognize(
            file, language,
            {
                workerPath: 'https://cdn.jsdelivr.net/npm/tesseract.js@4/dist/worker.min.js',
                langPath: 'https://cdn.jsdelivr.net/gh/midaug/dream-lottery/html/static/tesseract.js/lang/4.0.0',
                corePath: 'https://cdn.jsdelivr.net/npm/tesseract.js-core@4',
                logger: m => console.log(m)
            }
        ).catch(err => {
            console.error(err);
        }).then(result => {
            console.log(result.data.text);
            bel.html(result.data.text);
        })
    }

</script>

</html>